body {
    background-color: #181818;
    color: #cccccc;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: lowercase;
    text-align: center
}

a {
    text-align: center
}

a:link {
    color: #cccccc;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #cccccc;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #cccccc;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #cccccc;
    background-color: transparent;
    text-decoration: underline;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
  }
  